{% extends "base.html" %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-sm-8">
        <h1>Wszystkie zawody</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Data</th>
                <th>Nazwa</th>
                {% if session["username"] == "admin" %}
                <th>Usuń</th>
                {% endif %}
            </tr>

            {% for event in events %}
            <tr>
                <td>{{ event.date.date() }}</td>

                <td><a href="/event/{{ event.id }}">{{ event.name }}</a></td>

                {% if session["username"] == "admin" %}
                <td>
                    <a href="/event/delete/{{ event.id }}">
                        <img src="{{ url_for('static', filename='trash.svg') }}">
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}