{% extends "base.html" %}

{% block head %}

{% endblock %}


{% block body %}

<div class="row">
    <h1><b>{{ rider.first_name }} {{ rider.last_name[0] }}.</b></h1>
</div>

<br>

<div class="row justify-content-center">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item text-muted">
                <img src="{{ url_for('static', filename='info.svg') }}">
                Informacje o zawodniku
            </li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Numer</strong></span>{{ rider.number }}</li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Sektor</strong></span>{{ rider.sector.name }}</li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Kategoria wiekowa</strong></span>
                {{ rider.category }}</li>
        </ul>
    </div>

    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item text-muted">
                <img src="{{ url_for('static', filename='statistics.svg') }}">
                Statystyki
            </li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Liczba startów</strong></span>{{ stats.results_count }}</li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Suma dystansu</strong></span>{{ stats.distance_sum }} km</li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Suma czasu</strong></span>{{ stats.time_sum }} h</li>
            <li class="list-group-item text-right"><span class="float-left"><strong>Średnia prędkość</strong></span>{{ stats.avg_speed }} km/h</li>
        </ul>
    </div>

    {% if gear|length > 0 or session["username"] == "admin" %}
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item text-muted">
                <img src="{{ url_for('static', filename='gear.svg') }}">
                Sprzęt
            </li>
            {% for g in gear %}
            <li class="list-group-item text-right">
                <span class="float-left"><strong>{{ g.type }}</strong></span>{{ g.name }}
                {% if session["username"] == "admin" %}
                <td>
                    <a href="/gear/delete/{{ g.id }}">
                        <img src="{{ url_for('static', filename='trash.svg') }}">
                    </a>
                </td>
                {% endif %}
            </li>
            {% endfor %}

            {% if session["username"] == "admin" %}
            <li class="list-group-item text-right">
                <form method="POST" action="/rider/{{ rider.id }}" id="form">
                    <div class="form-group">
                        <div class="row align-items-center">
                            <div class="col">
                                <input type="text" class="form-control" name="type" placeholder="Typ" autocomplete="off" required>
                                <input type="text" class="form-control" name="name" placeholder="Nazwa" autocomplete="off" required>
                            </div>

                            <div class="col-4">
                                <input type="submit" class="btn btn-primary" name="submit" value="Dodaj">
                            </div>
                        </div>
                    </div>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

</div>

<h2>Wyniki</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Zawody</th>
                    <th>Data</th>
                    <th>Kategoria</th>
                    <th>Czas</th>
                    <th>Dystans</th>
                    <th>Miejsce<br>OPEN</th>
                    <th>Miejsce<br>w kategorii</th>

                    {% if session["username"] == "admin" %}
                    <th>Usuń</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for result in results %}
                <tr>
                    <td><a href="/event/{{ result.event.id }}">{{ result.event.name }}</a></td>
                    <td>{{ result.event.date.date() }}</td>
                    <td>{{ result.category }}</td>
                    <td>{{ result.time }}</td>
                    <td>{{ result.distance }} km
                        <div class="progress" style="height: 10px;">
                            <div class="progress-bar" role="progressbar" style="width: {{2.5 * result.distance }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                    <td>{{ result.place_open }}/{{ result.riders_open }}</td>
                    <td>{{ result.place_category }}/{{ result.riders_category }}</td>

                    {% if session["username"] == "admin" %}
                    <td>
                        <a href="/result/delete/{{ result.id }}">
                            <img src="{{ url_for('static', filename='trash.svg') }}">
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if trainings|length > 0 %}
        <br>
        <h2>Ostatnie treningi</h2>
        <br>
        <table class="table table-sm table-hover table-striped">
            <thead>
                <th>Data</th>
                <th>Czas</th>
                <th>Dystans</th>
                <th>Średnia prędkość</th>
                <th>Przewyższenia</th>
            </thead>

            <tbody>
                {% for training in trainings %}
                <tr>
                    <td>{{ training.date.date() }}</td>
                    <td>{{ training.time }}</td>
                    <td>{{ training.distance|round(2) }} km</td>
                    <td>{{ training.average_speed|round(2) }} km/h</td>
                    <td>{{ training.elevation }} m</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
    </div>
</div>

{% endblock %}